p,
ol,
li,
ul,
body {
    margin: 0;
}

li{
    list-style: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #DCCAFF;
    display: flex;
    width: 100%;
    text-align:center;
}

.menu__item {
    position: relative;
    background: #DCCAFF;
    color: #376B75;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__item a {
    color: #376B75;
    white-space: nowrap;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: color 0.3s, background-color 0.3s;
}

.menu__dropdown {
    display: none;
    position: absolute;
    background: #5990AF;
    top: 100%;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    min-width: 100%;
    z-index: 1000;
    padding: 0; 
}

.menu__item:hover .menu__dropdown {
    display: block;
}
.menu__item a:hover {
    color: #8B83D0;
}

.menu__dropdown a {
    display: block;
    color: #FFFFFF;
    transition: background-color 0.3s; 
}

.menu__dropdown a:hover {
    background-color: #376B75;
}