h1,
h2,
h3,
p,
ol,
ul,
body {
  margin: 0;
}

th,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.container {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.container > * + * {
    margin-top: 15px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

body {
  font-family: 'Roboto', sans-serif;
}

.heading-1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.5px;
  border: 1px solid #000;
  padding: 20px;
}

.heading-2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: #007BFF;
}

.heading-3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: #28A745;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: inherit;
}

a[target="_blank"]::after {
  content: ' (в новой вкладке)';
}

.you {
  font-weight: bold;
  text-decoration: underline;
}